[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pynal
GenericName=PDF Annotation and Journaling.
Exec=pynal %f
Terminal=false
Categories=Qt;Tablet;Graphics;Pdf;Journal;2DGraphics;Viewer
